@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

@media (min-width:320px) and (max-width:767px){
    main{
        display: flex;
        flex-wrap: wrap;

    }

    .container-1, .container-2, .container-3{
        padding: 1.5rem;

    }

    .container-1{
        background-color:#fafafa;

    }

    h1, h2{
        padding-bottom: 1rem;
    }

    .container-1 h1{
        font-size: 1.6rem;
        color: #2BB4B1;


    }

    .container-1 h2{
        font-size: 1.2rem;
        color: hsl(71, 73%, 54%);
        line-height: 30px;

    }

    .container-1 p{
        font-size: 1.1rem;
        font-weight: 400;
        color: hsl(218, 22%, 67%);
        line-height: 27px;
    } 

        
    .container-2{
        width: 100%;
        background-color:hsl(179, 62%, 43%);
    }

    .container-2 h2{
        font-size: 1.6rem;
        color: hsl(204, 43%, 93%);
        letter-spacing: 0.5px;
        font-weight: 500;
    }

    #price{
        font-size: 2.5rem;
        color: #FFFFFF;
        font-weight: 600;
        margin-right: 15px;

    }

    .dollar{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 400;
        color: hsla(203, 44%, 93%, 0.555);
        
    }

    .access{
        font-size: 1.2rem;
        color: hsl(204, 43%, 93%);
        letter-spacing: 0.5px;
        font-weight: 400;
        padding-top: .5rem;
        padding-bottom: 2rem;   
    }

    .sign-up{
        width: 100%;
        padding: .8rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
        background-color: hsl(71, 73%, 54%);
        border-radius: 5px;
        box-shadow: 2px 12px 3px rgba(0, 0, 0, 0.068);
        cursor: pointer;
        
    }
    
    .sign-up:hover{
        box-shadow: 2px 12px 3px rgba(0, 0, 0, 0.103);
    }

    .sign-up:active{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 58px;
    }
    

    .container-3{
        width: 100%;
        background-color:#49BEBD;

    }

    .container-3  ul{
        list-style: none; 
    }

    .container-3 h2{
        color: hsl(204, 43%, 93%);
        font-weight: 600;  
        font-size: 1.6rem;
    }

    .container-3 a{
        color: hsla(203, 44%, 93%, 0.747);
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 25px; 
    }

    .challenge-front{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        background-color:#49BEBD;
    }

    .attribution{
        padding: .5rem;
        font-size: 1.2rem;
        opacity: 0.50;

    }

    .attribution a{
        font-weight: 700;
        letter-spacing: .5px;
        margin-left: 5px;
        opacity: 0.30;
        font-size: 1.2rem;
        color: cornflowerblue;

    }

    .attribution a:hover{
        opacity: 1;
    } 
}
